.app {
  height: 100%;              /* Take full height from #root */
  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
}

/* Main card container */
.container {
  width: 420px;
  max-width: 90%;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
  margin-bottom: 12px;
  color: #222;
}

h3 {
  color: #555;
  font-weight: 500;
}

.balance-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}
/* Income and Expense boxes */
.income,
.expense {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  background: #f8f9fa;
}

.income p {
  color: green;
  font-weight: bold;
}

.expense p {
  color: red;
  font-weight: bold;
}
/* Transaction form */
.transaction-form {
  margin-top: 25px;
  text-align: left;
}

.transaction-form h3 {
  margin-bottom: 15px;
  text-align: center;
}

.form-control {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-control input,
.form-control select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.form-control input:focus,
.form-control select:focus {
  border-color: #4f46e5;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  background: #4338ca;
}

/* Transaction list */
.transaction-list {
  margin-top: 25px;
  text-align: left;
}

.transaction-list h3 {
  text-align: center;
  margin-bottom: 15px;
}

.transaction-list ul {
  list-style: none;
  padding: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-right: 5px solid;
}

.transaction-item.credit {
  border-color: #16a34a;
}

.transaction-item.debit {
  border-color: #dc2626;
}

.transaction-info {
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: 500;
  color: #111;
}

.amount {
  font-weight: bold;
}



/*buttons*/
.action-buttons {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background-color: #facc15;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #eab308;
}
.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: #dc2626;
}

.empty {
  text-align: center;
  margin-top: 20px;
  color: #777;
}